
$contact-box--primary-color:$color-secondary;
.contact-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

    &__item {
        display: flex;
        margin-right: 25px;
        color: $color-white;
        &--divider {
            width: 1px;
            height: auto;
            background: #f3f3f3;
            min-height: 40px;
        }
    }
    &__icon {
        margin-right: 15px;
    }
    &__content {
        a {
            color:$contact-box--primary-color;
        }
        p {
            font-size: 1em;
            margin-bottom: 3px;
        }
    }

}



.block-flex {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    &__right {
        justify-content: flex-end;
    }
    &__left {
        justify-content: flex-start;
    }
    &__center {
        align-items: center;
    }
}




$box-black:#000000;
$box-orange:#FF4618;
$box-brown:#BD552D;
$box-brown:#BD552D;
$box-lightbrown:#D0C493;
$box-applegreen:#C3FF54;
$box-darkgreen:#11291C;
$box-gray:#E0E0E0;

.color {
    display: flex;
    &__item {
        width: 52px;
        height: 52px;
        display:inline-block;
        margin-right: 5px;
        border: 2px solid $box-gray;
        overflow: hidden;
        text-indent: -99px;
    
        &--black {
            background: $box-black;
        }
        &--orange {
            background: $box-orange;
        }
        &--brown {
            background: $box-brown;
        }
        &--lightbrown {
            background: $box-lightbrown;
        }
        &--applegreen {
            background: $box-applegreen;
        }
        &--darkgreen {
            background: $box-darkgreen;
        }
        
    }
  
    &__choices {
        align-items: center;
        justify-content: center;
        background: $color-primary;
        border: 2px solid $color-primary;
        display: flex;
        align-items: center;
        justify-content: center; 
    }
}


.color-selection {
    &__color-thumbnail {

    }
}


.color-selection,
.type-selection {
    &__label {
        margin-bottom: 5px;
        &--bold {
            font-weight: bold;
        }
    }
}




.type-selection{
    min-width: 228px;
  
    &__select  {
        height: 50px;
        width: 100%;
        border: 2px solid $box-black;
        position: relative;
        select {
            appearance: none;
            width: 100%;
            height: 100%;
            outline: none;
            padding: 10px;
        }
        &:after {
            width: 0;
            height: 0;
            border-top: 5px solid $color-primary;
            content: '';
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
            position: absolute;
            top: 0;
            right: 10px;
            z-index: 9;
            display: block;
            bottom: 0;
            margin: auto; 
        }
    }

}

.bottom-navigation {
    .container {
        max-width: 100%;
            border-top: 1px solid #ddd;
            padding-left: 15px;
            padding-right: 0 !important;
    }
}


.price-display {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    margin-left: 25px;
    &__amount {
        font-size: 2.5em;
        font-weight: bold;
        color:$color-red;
    }
    &__before {
        font-size: .8em;
        margin-bottom: 5px;
        color: #6b6b6bdd;
    }
    &__bottom {
        font-size: .9em;
        a {
            color: #000;
            margin-left: 10px;
        }
    }
}



.main-wrapper {
    height: 100vh;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.header-custom {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    z-index: 2;
}
.workspace {
    height: 100%;
    background: #E5E5E5;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

   &__top-navigation {
        position: absolute;
        background:$color-white;
        max-width: 70%;
        top: 90px;
        z-index: 9;
        left: 0;
        right: 0;
        margin: auto;
    }

    &__left {
        position: absolute;
        width: 600px;
        height: 100%;
        left: 0;
        top: 0;
        align-items: flex-start;
        padding-top: 202px;
        padding-left: 10px;
        display: flex;

        .nav.flex-column {
            .nav-link {
                height: 100px;
                border-radius: 0 !important;
                text-align: center !important;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                flex-direction: column;
                background: $color-white;
                color: $color-darkblue;
                
                .sprite__secondary {
                    display: none;
                }

                &.active {
                    background: $color-primary;
                    color: $color-white;
                   
                    .sprite__secondary {
                        display:block;
                    }
                    .sprite__primary {
                        display:none;
                    }
                }
                
            }
        }
    }
    &__main-canvas {
        height: 85%;
        min-width: 640px;
        background: #000;
        right: -6%;
        position: relative;
        background: url('../assets/images/main-canvas.png');
        background-size: cover;
        background-position: center;
        background-size: 100% 100%;
        background-position: top center;
    }

    &__right {
        height: 100%;
        width: 115px;
        padding-right: 5px;
        width: 100px;
        position: absolute;
        top: 0;
        right: 0;

        display: flex;
        align-items: center;
    }

    &__preview-thumbnail {
        width: 100%;
        padding-right: 5px;
    }

    &__preview-item {
        display: block;
        text-align: center;
        background: #fff;
        padding-bottom: 5px;
        font-size: .9em;
       
        &--active {
            border-bottom: 4px solid $color-secondary;
            background: #11291C;
            color: $color-white;
           
        }
    }

    &__preview-item-box {
        height: 85px;
        width: 100%;
        margin-bottom: 2px;  
    }
}



.top-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
   &__item {
        a {
            min-width: 70px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: .8em;
            padding: 10px 0;
            color: #6C7582;
            text-decoration: none;
        }
    }
}


.tab-section {
    &__content {
        border: 1px solid $color-primary;
        padding: 15px;
        min-width: 450px;
        background: $color-white;

        h2 {
            font-size: 1.5em;
            text-transform: uppercase;
            font-weight: bold;
        }

        button {
            &.add-text {
                width: 100%;
                background: $color-primary;
                color: $color-white;
                border: 0;
                padding:10px;
            }
        }

        .form-group {
            margin-bottom: 15px;
            label,
            input {
                width: 100%;
            }

            input,textarea {
                padding:10px;
            }
            &--float-right {
              > label {
                display: flex;
                flex-wrap: wrap;
                position: relative;
                input {
                    width: 90%;
                    flex: 0 0 90%;
                }

                .sprite {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    margin: auto;
                }
              }
            }
        }

        .divider {
            height: 1px;
            width: 100%;
            clear: both;
            display: block;
            margin: 35px 0;
            background: #ddd;
        }
    }
    
    
}



.bottom-navigation {
    position: fixed;
    bottom: 0;
    background: $color-white;
    width: 100%;
    left: left;
}

