
.sprite {
    background: url('../assets/images/css_sprites.png');
    display: block;


    &--logo {
        width: 129px; height: 50px;
        background-position:-10px -10px;
        overflow: hidden;
        text-indent: -999px;
    }
    
    
    &--blue_icon_image {
        width: 31px; height: 31px;
        background-position:-124px -135px;
    }
    
    
    &--blue_icons_clipart {
        width: 37px; height: 31px;
        background-position:-10px -135px;
    }
    
    
    &--blue_icon_text {
        width: 24px; height: 35px;
        background-position:-213px -120px;
    }
    
    
    &--chat {
        width: 31px; height: 31px;
        background-position:-10px -186px;
    }
    
    
    &--cheveron_right {
        width: 10px; height: 19px;
        background-position:-175px -135px;
    }
    
    
    &--icon_arrowdown {
        width: 10px; height: 6px;
        background-position:-202px -186px;
    }
    
    
    &--icon_bucket {
        width: 37px; height: 35px;
        background-position:-10px -80px;
    }
    
    &--icon_crop {
        width: 25px; height: 35px;
        background-position:-213px -65px;
    }
    
    
    &--icon_delete_trash {
        width: 23px; height: 35px;
        background-position:-263px -65px;
    }
    
    
    &--icon_layered {
        width: 37px; height: 35px;
        background-position:-67px -80px;
    }
    
    
    &--icon_lock {
        width: 19px; height: 35px;
        background-position:-50px -237px;
    }
    
    
    &--icons_dot {
        width: 6px; height: 30px;
        background-position:-124px -80px;
    }
    
    
    &--icon_share {
        width: 21px; height: 35px;
        background-position:-263px -175px;
    }
    
    
    &--icon_sort {
        width: 34px; height: 35px;
        background-position:-159px -10px;
    }
    
    &--save {
        width: 19px; height: 19px;
        background-position:-163px -186px;
    }
    
    
    &--support {
        width: 31px; height: 31px;
        background-position:-61px -186px;
    }
    
    
    &--white_icon_image {
        width: 31px; height: 31px;
        background-position:-112px -186px;
    }
    
    
    &--white_icons_clipart {
        width: 37px; height: 31px;
        background-position:-67px -135px;
    }
    
    &--white_icon_text {
        width: 24px; height: 35px;
        background-position:-263px -10px;
    }
    
    
    &--icon_bold {
        width: 19px; height: 35px;
        background-position:-89px -237px;
    }
    
    &--icon_italic {
        width: 20px; height: 35px;
        background-position:-10px -237px;
    }
    
    
    &--icon_script {
        width: 30px; height: 35px;
        background-position:-213px -10px;
    }
    
    
    &--icon_underline {
        width: 22px; height: 35px;
        background-position:-263px -120px;
    }
    
    &--icon_alignment {
        width: 31px; height: 35px;
        background-position:-159px -65px;
    }
   

}